@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.home {
    // height: 100vh;
    background-color: #D5F5E3;
}

.list {
    text-align: left;

    // li {
    //     display: inline-block;
    // }
    a {
        font-size: 4em;
    }
}

p {
    text-align: center;
}
